* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
}

li {
  list-style: none;
}

.background {
  background-color: #09101a;
}

.full-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
}

.auth {
  &__block {
    width: 516px;
    background-color: #17212b;
    padding: 40px 110px 48px;
  }

  &__logo {
    width: 140px;
    height: 140px;
    background-color: #242f3d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 35px;

    & > img {
      width: 85px;
    }
  }

  &__title {
    text-align: center;
    color: #fff;
    font-weight: 500;
    margin-bottom: 16px;
  }

  &__subtitle {
    color: #7f91a4;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 46px;
    line-height: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #465362;
  outline: none;
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 24px;
  color: #e5e5e5;
  transition: 0.2s;

  &::placeholder {
    color: #858e97;
  }

  &:focus {
    border-bottom: 1px solid #5288c1;
  }
}

.button {
  padding: 15px 50px;
  background-color: #5288c1;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  border: none;
  margin: 0 auto;
  border-radius: 4px;
  cursor: pointer;

  &_small {
    font-size: 14px;
    padding: 6px 20px;
  }

  &:hover {
    background-color: rgba(#5288c1, 0.8);
  }
}

.user {
  display: flex;
  align-items: flex-start;

  &__photo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #242f3d;
    overflow: hidden;

    & > img {
      width: 100%;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  &__name {
    font-size: 14px;
    margin-bottom: 4px;
    color: #fff;
  }

  &__status {
    color: #51b3f3;
    font-size: 13px;
  }

  &__list {
    & > .user {
      margin-bottom: 10px;
    }
  }

  &__message {
    font-size: 13px;
    margin-top: 4px;
  }
}

.chat {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #0e1621;

  &__block {
    max-width: 920px;
    height: 520px;
    width: 100%;
  }

  &__bar {
    background-color: #242f3d;
    height: 22px;
    width: 100%;
  }

  &__body {
    display: flex;
    height: 100%;
  }

  &__head {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    font-size: 14px;
    background-color: #17212b;
    border-left: 1px solid #0e1621;
  }

  &__title {
    color: #ffffff;
    margin-bottom: 10px;
  }

  &__members-count,
  #members__count {
    color: #7f91a4;
  }

  &__input {
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
    color: #fff;
    font-size: 14px;
    padding-right: 20px;

    &::placeholder {
      color: #5b6774;
      font-size: 14px;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 54px;
      width: 100%;
      margin-top: auto;
      padding: 0 20px;
      background-color: #17212b;
      border-left: 1px solid #0e1621;
    }
  }
}

.message {
  display: flex;
  padding: 10px 20px;
  background-color: #17212b;
  border-radius: 4px;
  margin-top: 4px;

  &-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 6px 10px;
    overflow-y: scroll;

    & .message:first-child {
      margin-top: auto;
    }
  }
}

.left-side {
  background-color: #17212b;
  height: 100%;
  width: 260px;
  padding: 20px;
}

.me {
  display: flex;
  height: 82px;

  &__photo {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #242f3d;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    & > img {
      width: 100%;
    }

    &::after {
      position: absolute;
      content: '+';
      font-size: 40px;
      line-height: 60px;
      text-align: center;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.6);
      border-radius: 50%;
      display: none;
    }

    &:hover {
      &::after {
        display: block;
      }
    }
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(#000, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-photo {
  display: flex;
  flex-direction: column;
  width: 364px;
  height: 452px;
  background-color: #17212b;
  padding: 30px 40px 20px;
  border-radius: 4px;

  &__input {
    position: relative;
    width: 100%;
    height: 308px;
    background-color: rgba(#00040b, 0.7);
    border-radius: 4px;
  }

  #new-avatar-image {
    opacity: 0;
    visibility: hidden;
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
  }
}

.control__button {
  color: #6ab2f2;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.save {
  background-color: #1d2a39;
  margin-left: 10px;
}

.image__preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 284px;
  object-fit: cover;
  background-color: #242f3d;
  border-radius: 50%;
}